<div class="col-md-2">
  <form #formAnnouncement="ngForm" class="container" name="formAnnouncement" (submit)="createAnnouncement()">
    Title : <br>
    <input name="title" [(ngModel)]="announcementTmp.title" type="text" required> <br>
    <select class="form-control form-control-sm" (change)="setCourseId($event.target.value)">
      <option *ngFor="let c of courses" [value]="c?.idCourse" name="op">{{c?.label}}</option>
    </select>
    Description : <br>
    <textarea name="description" [(ngModel)]="announcementTmp.description" rows="5" cols="50" required></textarea> <br>
    Fee :<br>
    <input name="fee" [(ngModel)]="announcementTmp.fee" type="text" required> <br>
    <input name="sumbitButton" type="submit" value="Create">
  </form>
</div>


