<form>
  <input type="radio" name="typeuser" (change)="TypeFormulaire()" checked>Créer un compte Eléve
  <input type="radio" name="typeuser" (change)="TypeFormulaire()"  >Créer un compte Tuteur
</form>
<form #formEleve="ngForm" (submit)="createStudent()">
  <app-create-personne></app-create-personne>

</form>
<form [hidden] ="!isHidden" action="" #formProf="ngForm" (submit)="createStudent()">
  <app-create-tutor></app-create-tutor>
</form>
<br>
<button routerLink="/Login">Retour</button> <input type="submit" value="Envoie">
