<form>
  <input type="radio" name="typeuser" (change)="TypeFormulaire();InitFormStudent()" checked>Créer un compte Eléve
  <input type="radio" name="typeuser" (change)="TypeFormulaire();InitFormStudent()"  >Créer un compte Tuteur
</form>
<app-create-personne (studentCreated)="receiveStudent($event)" ></app-create-personne>
<div *ngIf="isHidden">
  <app-create-tutor  [tmpStudent]="tmpStudent" (tutorCreated)="receiveTutor($event)"></app-create-tutor>
</div>
<br>
<button routerLink="/Login">Retour</button> <Button (click)="Validation()" [disabled]="!formValid()" class="btn btn-success">Envoie</Button>


