<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">

    <div class="bg-dark p-4">

      <div class="form-row">

        <div class="form-group col-md-6">
          <h5 class="text-white">Class</h5>
          <select [(ngModel)]="currentCourse" class="form-control form-control-sm col-md-6" (change)="onChange($event.target.value)">
            <option [value]=-1 selected="selected">All</option>
            <option *ngFor="let c of courses" [value]="c?.idCourse" >{{c?.label}}</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <h5 class="text-white">Price</h5>
          <select name="filterOption" [(ngModel)]="optionSelected" class="form-control form-control-sm col-md-6">
            <option *ngFor="let o of options" [ngValue]="o">
              {{intToOrderOption(o)}}
            </option>
          </select>
        </div>
      </div>

    </div>

  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>Filter</span>
    </button>
  </nav>
</div>


<div class="blog-card spring-fever" *ngFor="let announcement of announcements|filterAnnouncement:optionSelected:currentCourse;let i = index" style="margin-top:100px;margin-bottom: 100px">
  <div class="title-content">
    <h3>{{announcement.title}}</h3>
    <div class="intro"> {{getCoursesById(announcement.idCourse)?.label}}</div>
  </div>
  <div class="card-info">
    {{announcement.description}}
    <a class="btn btn-secondary" data-toggle="modal" data-target="#modalSubscriptionForm" (click)="setCurrentAnnouncement(i)">Send Email</a>
  </div>
  <div class="utility-info">
    <ul class="utility-list">
      <li><span class="licon icon-dat"></span>{{announcement.fee}} €</li>
      <li><span class="licon icon-tag"></span>{{getTutorById(announcement.idTutor)?.username}}</li>
    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->


<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{getTutorById(currentAnnouncement?.idTutor)?.username}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--<form action="https://formspree.io/{{getTutorById(currentAnnouncement?.idTutor)?.mail}}" method="POST">
      </form>-->
      <div class="modal-body mx-3" id="modalMail">
        <div name="email" class="md-form mb-3">
          <i class="fa fa-envelope prefix grey-text"></i>
          {{getTutorById(currentAnnouncement?.idTutor)?.mail}}

        </div>
        <div class="md-form mb-3">
          <i class="fa fa-book prefix grey-text"></i>
          {{getCoursesById(currentAnnouncement?.idCourse)?.label}}
        </div>
        <div class="md-form mb-4">
          <i class="fa fa-pen prefix "></i>
          <textarea id="form2" class="form-control validate" rows="5"></textarea>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-indigo" type="submit" submit="modalMail.hide()">Send<i class="fa fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>

<!--
<div  class="container-fluid" *ngFor="let announcement of announcements|filterAnnouncement:optionSelected:currentCourse" style="padding: 30px;">
  <div class="row align-items-center justify-content-center">

    <div class="card text-center" style="width: 40rem;">
      <div class="card-header">
        {{getTutorById(announcement.idTutor)?.username}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{announcement.title}}</h5>
        <p class="card-text">{{announcement.description}}</p>
      </div>
        <div class="blockquote-footer text-left">{{getCoursesById(announcement.idCourse)?.label}}</div>
      <div class="card-footer text-muted">
        {{announcement.fee}} €
      </div>
    </div>
  </div>
</div>
-->
